/* ACCORDION */
.accordion {
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: minmax(200px, 5fr);;
}
.accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
    padding: var(--spacing-small);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    border: 1px solid black;
    text-align: left;
    width: 300px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.accordion-body {
    width: 100%;
    height: fit-content;
    border: 1px solid var(--primary-color);
    padding: var(--spacing-small);
    background-color: var(--element-background-color);
}

.accordion-header--hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    box-shadow: var(--box-shadow);
}

.accordion-header-transition{
    transition: all 0.3s ease;
}

.accordion-header-transition:hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    box-shadow: var(--box-shadow);
}
.accordion-body--active{
    display: block;
}

.accordion-body--display-none {
    display: none;
}